// base colors
$primary-color: #4a9866;
$secondary-color: #ebc17b;

// background colors
$light-background-color: #ebebeb;
$dark-background-color: #514c48;

// text colors
$light-text-color: #ffffff;
$dark-text-color: #000000;

// state colors
$disabled-gray-color: #a7a7a7;
$error-color: #ff7070;
$success-color: #70ff8f;
$warning-color: #ffd270;
